<library path="rqt_device_control">
  <class name="rqt_device_control/DeviceControl" type="rqt_device_control::DeviceControl" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to control Device systems
    </description>
    <qtgui>
      <group>
        <label>MOCAP4ROS2</label>
        <icon type="theme">applications-accesories</icon>
        <statustip>MOCAP4ROS2 Plugins.</statustip>
      </group>
      <label>Device Control</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>A GUI plugin for viewing sensor_msgs/Image topics.</statustip>
    </qtgui>
  </class>
</library>